.about-title {
    position: sticky;
    top: 50vh;
    transform: translateY(-40%);
    transition: top 0.3s ease, transform 0.3s ease;
    z-index: 10;
    height: 150px; /* Para que el contenedor tenga espacio */
    overflow: visible;
  }

.titulo-tec {
  color: #80deea; /* azul brillante tipo tech */
  letter-spacing: 3px;
  font-weight: 900;
  text-shadow:
    0 0 30px rgba(95, 195, 228, 0.8);
  transition: color 0.3s ease;
}

.titulo-tec:hover {
  color: #e0f7fa;
  text-shadow:
    0 0 20px #80deea;
  cursor: pointer;
}



.project-card {
  display: block;
  border-radius: 12px;
  border: 2px solid #5fc3e4;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 15px rgba(95, 195, 228, 0.3);
  background-color: transparent;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(95, 195, 228, 0.3);
}


.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 30px rgba(95, 195, 228, 0.6);
  text-decoration: none;
}

.project-card .card-img-top {
  margin-top: 1rem;
  object-fit: contain;
  height: 200px;
  width: 100%;
  transition: transform 0.3s ease;
}

.project-card:hover .card-img-top {
  transform: scale(1.05);
}

.project-card .card-body {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.project-card .card-title {
  font-weight: 700;
  color: #80deea;
  text-shadow: 0 0 10px #80deea;
  margin-bottom: 0;
}

.titulo-animado {
  color: #80deea;  
  font-size: 1.5rem; /* o ajusta según tu diseño */
  font-weight: 00;
  text-shadow: 0 0 15px #80deea;
  display: inline-block;

}


.tech-button {
  background-color: transparent !important;
  text-decoration: none;
  color: #e0f7fa; /* azul brillante tipo tech */
  border: 2px solid #5fc3e4;
  padding: 8px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(95, 195, 228, 0.3);
  letter-spacing: 1px;
  backdrop-filter: blur(4px); /* estilo futurista */
}

.tech-button:hover {
  background-color: rgba(95, 195, 228, 0.1);
  box-shadow: 0 0 25px rgba(197, 224, 233, 0.6);
  border-color: #ffffff;
  color: #80deea;
}

