<div class="container py-5">
  <div class="row">

    <div class="col-12 d-block d-md-none text-center mt-4 mb-4">
  <h1 class="display-5 fw-bold titulo-tec animate__animated animate__fadeInUp">
    Proyectos
  </h1>
</div>
    <!-- Título sticky a la izquierda (md+) -->
    <div class="col-md-5 mt-3 d-none d-md-block">
      <div class="about-title text-start" style="margin-top: 160px;">
        <h1 class="display-4 fw-bold titulo-tec animate__animated animate__fadeInLeft">
          Proyectos
        </h1>
      </div>
    </div>

    <!-- Lista de proyectos a la derecha -->
    <div class="col-md-7">
      <div class="row g-4">
        <div *ngFor="let project of projects" class="col-12">
          <div class="card shadow-sm project-card h-100">
            <img [src]="project.imageUrl" class="card-img-top" alt="{{ project.name }}" />
            <div class="card-body text-center">
              <h5 class="card-title titulo-animado mb-3">{{ project.name }}</h5>
              
              <!-- Botones -->
              <div class="d-flex justify-content-center gap-3 mt-3 flex-wrap">
                <a *ngIf="project.url" [href]="project.url" target="_blank"class="tech-button mt-3">
                  Ver Proyecto
                </a>
                <a *ngIf="project.deploy" [href]="project.deploy" target="_blank" class="tech-button mt-3">
                  Ver Deploy
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




