.tech-skills {
  padding: 2rem;
  text-align: center;
}

.skill-title {
    position: sticky;
    top: 50vh;
    transform: translateY(-40%);
    transition: top 0.3s ease, transform 0.3s ease;
    z-index: 10;
  }

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
  justify-items: center;
  align-items: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

.about-title.sticky-top {
  position: sticky;
  top: 0;
  height: 100vh;            /* Ocupa toda la altura de la pantalla */
  display: flex;
  align-items: center;      /* Centrado vertical */
  background: white;        /* Fondo para evitar superposición */
  z-index: 10;
  padding-left: 1rem;       /* Opcional: para mantener separación del borde */
}