.about-title {
    position: sticky;
    top: 50vh;
    transform: translateY(-40%);
    transition: top 0.3s ease, transform 0.3s ease;
    z-index: 10;
    height: 150px; /* Para que el contenedor tenga espacio */
    overflow: visible;
  }

.titulo-tec {
  color: #80deea; /* azul brillante tipo tech */
  letter-spacing: 3px;
  font-weight: 900;
  text-shadow:
    0 0 30px rgba(95, 195, 228, 0.8);
  transition: color 0.3s ease;
}


.titulo-tec:hover {
  color: #e0f7fa;
  text-shadow:
    0 0 20px #80deea;

  cursor: pointer;
}

.titulo-animado {
  font-size: 2rem;
  color: #80deea;
  text-shadow: 0 0 15px #80deea;
  font-weight: 800;
  display: inline-block;
  margin-bottom: 1.5rem;
}

/* Contenedor opcional si deseas centrar o ajustar el espacio general */
.contenedor-iconos {
  justify-content: center;
  gap: 1.1rem;
}

/* Estilo visual para los íconos */
.icono-tech {
  width: 60px;
  height: 60px;
  border: 2px solid #80deea;
  border-radius: 8px;
  background-color: rgba(224, 247, 250, 0.856);
  cursor: pointer;
  object-fit: contain;
  transition: all 0.3s ease;
}

.icono-tech:hover {
  transform: scale(1.1);
  border-color: #80deea;
  box-shadow: 0 0 20px #80deea;
}
