.dashboard-container {
  text-align: center;
  padding: 4rem;
  color: #e0f7fa;
  }


.tech-button {
  background-color: transparent !important;
  color: #e0f7fa; /* azul brillante tipo tech */
  border: 2px solid #5fc3e4;
  padding: 8px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(95, 195, 228, 0.3);
  text-transform: uppercase;
  letter-spacing: 1px;
  backdrop-filter: blur(4px); /* estilo futurista */
}

.tech-button:hover {
  background-color: rgba(95, 195, 228, 0.1);
  box-shadow: 0 0 25px rgba(197, 224, 233, 0.6);
  border-color: #ffffff;
  color: #80deea;
}

.flotante {
  animation: flotacion 3s ease-in-out infinite;
}
