.titulo-principal {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  color: #e0f7fa;
  line-height: 1.4;
  letter-spacing: 1px;
}

.nombre-animado span {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 4rem;
  color: #80deea;
  text-shadow:
    0 0 20px #80deea;
  font-weight: 800;
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
  animation: letrasReveal 0.5s forwards;
}

.nombre-animado span:hover {
  color: #e0f7fa; /* azul claro brillante */
  text-shadow:
    0 0 5px #fff,
    0 0 10px #e0f7fa,
    0 0 20px #e0f7fa,
    0 0 30px #d4d4d4;
  transform: scale(1.2);
}

.nombre-animado span:nth-child(1)  { animation-delay: 0.1s; }
.nombre-animado span:nth-child(2)  { animation-delay: 0.2s; }
.nombre-animado span:nth-child(3)  { animation-delay: 0.3s; }
.nombre-animado span:nth-child(4)  { animation-delay: 0.4s; }
.nombre-animado span:nth-child(5)  { animation-delay: 0.5s; }
.nombre-animado span:nth-child(6)  { animation-delay: 0.6s; }
.nombre-animado span:nth-child(7)  { animation-delay: 0.7s; }
.nombre-animado span:nth-child(8)  { animation-delay: 0.8s; }

.nombre-animado span:nth-child(9)  { animation-delay: 0.9s; } /* espacio */
.nombre-animado span:nth-child(10) { animation-delay: 1.0s; } /* espacio */

.nombre-animado span:nth-child(11) { animation-delay: 1.1s; }
.nombre-animado span:nth-child(12) { animation-delay: 1.2s; }
.nombre-animado span:nth-child(13) { animation-delay: 1.3s; }
.nombre-animado span:nth-child(14) { animation-delay: 1.4s; }
.nombre-animado span:nth-child(15) { animation-delay: 1.5s; }
.nombre-animado span:nth-child(16) { animation-delay: 1.6s; }

@keyframes letrasReveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rol {
  font-size: 2.2rem;
  font-weight: 400;
  color: #e0f7fa;
  display: block;
  margin-top: 10px;
}

.botones-abajo {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  gap: 20px; /* Espacio entre botones */
  margin-top: 400px;
}
.botones-arriba {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  gap: 20px; /* Espacio entre botones */
  margin-bottom: 300px;
}

.tech-button {
  background-color: transparent !important;
  color: #e0f7fa; /* azul brillante tipo tech */
  border: 2px solid #5fc3e4;
  padding: 8px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(95, 195, 228, 0.3);
  text-transform: uppercase;
  letter-spacing: 1px;
  backdrop-filter: blur(4px); /* estilo futurista */
}

.tech-button:hover {
  background-color: rgba(95, 195, 228, 0.1);
  box-shadow: 0 0 25px rgba(197, 224, 233, 0.6);
  border-color: #ffffff;
  color: #80deea;
}

.flotante {
  animation: flotacion 3s ease-in-out infinite;
}

@keyframes flotacion {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.tech-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: #e0f7fa;
  border: 2px solid #80deea;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(128, 222, 234, 0.3);
  text-decoration: none;
  font-size: 2rem; /* tamaño del icono */
  transition: all 0.3s ease;
}

.tech-icon:hover {
  transform: scale(1.1); /* agranda al 110% */
  text-shadow:
    0 0 20px #80deea;
  cursor: pointer;
}